<h2>Calculo com metodo GET</h2>

<form action="/calculadora/ProcessImc" method="get">
    <div style="margin-top: 10px">
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="required" />
    </div>
    <div style="margin-top: 10px">
        <label for="campo-idade">Idade</label>
        <input type="number" name="idade" id="campo-idade" required="required" />
    </div>

    <div style="margin-top: 10px">
        <label for="campo-peso">Peso</label>
        <input type="text" name="peso" id="campo-peso" required="required" />
    </div>

    <div style="margin-top:10px">
        <label for="campo-altura">Altura</label>
        <input type="text" name="altura" id="campo-altura" required="required" />
    </div>
    <div style="margin-top:10px">
        <button type="submit">Calcular IMC</button>
    </div>
</form>

<style>
    .div-campo-numero {
        margin-top: 50px;
    }
</style>

<h2>Calculo com metodo POST</h2>

<form action="/calculadora/ProcessImc" method="post">
    <div style="margin-top: 10px">
        <label for="campo-nome">Nome</label>
        <input type="text" name="nome" id="campo-nome" required="required" />
    </div>
    <div style="margin-top: 10px">
        <label for="campo-idade">Idade</label>
        <input type="number" name="idade" id="campo-idade" required="required" />
    </div>

    <div style="margin-top: 10px">
        <label for="campo-peso">Peso</label>
        <input type="text" name="peso" id="campo-peso" required="required" />
    </div>

    <div style="margin-top:10px">
        <label for="campo-altura">Altura</label>
        <input type="text" name="altura" id="campo-altura" required="required" />
    </div>
    <div style="margin-top:10px">
        <button type="submit">Calcular IMC</button>
    </div>
</form>

<style>
    .div-campo-numero {
        margin-top: 50px;
    }
</style>