<h2>Some dois numeros</h2>

<form action="/calculadora/sun" method="get">
    <div glass="div-campo-numero">
        <label>Numero 01</label>
    <input type="number" name="numero01"/>
    </div>

    <div style="margin-top:5px">
        <label>Numero 02</label>
        <input type="number" name="numero02"/>
    </div>

    <button type="submit">Calcular</button>
</form>

<style>
    .div-campo-numero{
        margin-top: 50px;
    }
</style>


